* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #276baa;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    width: 1900px;
    border: 10px solid #000;
}

.piano1 {
    padding: 0%;
    margin: 0%;
    display: flex;
    width: 100px;
}

.piano2 {
    padding: 0%;
    margin: 0%;
    display: flex;
    width: 100px;
}

.teclas {
    position: relative;
    float: left;
}

.tcBranca {
    width: 95px;
    height: 200px;
    text-align: center;
}

.tcPreta {
    background-color: black;
    width: 50px;
    height: 140px;
    border: none;
    position: absolute;
    z-index: 2;
    margin-left: -25px;
}

@media screen and (max-width: 2250px) {
    .container {
        width: 800px;
    }
    .tcBranca {
        width: 40px;
    }
    .tcPreta {
        width: 20px;
        margin-left: -10px;
    }
}
@media screen and (max-width: 823px) {
    .container {
        width: 400px;
    }
    .tcBranca {
        width: 20px;
    }
    .tcPreta {
        width: 10px;
        margin-left: -5px;
    }
}