*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(img/gif-espaço2.gif);
    
}
.cronometro{
    background-color: black;
    color: aliceblue;
    height: 300px;
    width: 500px;
    padding: 2em 2em 2em 2em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: 5px solid #181840;
}

.timer{
    background-color: rgb(69, 68, 68);
    z-index: 999;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: 'DS-Digital', sans-serif;
    font-size: 50px;
}


/**/
.actions{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.actions button{
    margin-left: 20px;
    padding: 10px 20px 10px 20px;
    
}
/*--==Botões==--*/
.reset-markBNT{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
}
.reset{
    background-color: gray;
    color: aliceblue;
    border-color:rgb(177, 177, 177) ;
    border-radius: 2px;
}
.start-stop.start{
    background-color: rgb(53, 175, 53);
    color: aliceblue;
    border-color:rgb(19, 143, 61) ;
    border-radius: 2px;
}
.start-stop.stop{
    background-color: rgb(209, 0, 0);
    color: aliceblue;
    border-color:rgb(163, 29, 29);
    border-radius: 2px;
}

.mark{
    background-color:rgb(58, 58, 152) ;
    color: aliceblue;
    border-color:rgb(49, 46, 185) ;
    border-radius: 2px;
}

/*--==Mark-LIST==--*/
.mark-list{
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}